html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}

/*==================================================
ボトムナビ
===================================*/
.bottom-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f8f8;
  border-top: 1px solid #e0e0e0;
  padding: 10px 0;
  z-index: 1000;
  /* 重なり順を指定 */

}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #999;
  text-decoration: none;
}

.nav-item.active {
  color: #0F4C75;
}

.nav-item i {
  font-size: 20px;
  margin-bottom: 5px;
}

.nav-item span {
  font-size: 12px;
}


/*==================================================
ホ‐ム画面
===================================*/
/* ヘッダーのCSS */
header h2 {
  text-align: left;
  font-size: 67px;
  color: #0F4C75;
  margin: 16px 24px 8px 24px;
  padding: 0;
}



#button-login {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid #0F4C75;
  margin: 0 24px;
}

#button-login:hover {
  background-color: #0F4C75;
}

#button-signup {
  background-color: #0F4C75;
  color: white;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
  margin: 0 px;
}

#button-signup:hover {
  background-color: #0F4C75;
}

#user-info {
  align-items: left;
  padding: 16px 24px;
}

#user-info p {
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 24px;
}

.features h3 {
  text-align: left;
  font-size: 30px;
  color: black;
  margin: 8px 24px 8px;
  padding: 0;
}


/* スライダー */
.slider {
  /*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 94%;
  margin: 24 auto;
}

.slider img {
  width: 100%;
  /*スライダー内の画像を横幅100%に*/
  height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
  margin: 0 24px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  position: absolute;
  /*絶対配置にする*/
  top: 42%;
  cursor: pointer;
  /*マウスカーソルを指マークに*/
  outline: none;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666;
  /*矢印の色*/
  border-right: 2px solid #666;
  /*矢印の色*/
  height: 15px;
  width: 15px;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #ccc;
  /*ドットボタンの色*/
}

.slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}

/*==================================================
ログインと新規登録画面のためのcss
===================================*/
/* h4 {
  text-align: left;
  font-size: 24px;
  margin: 24px;
  padding: 0;
} */

#login-form,
#signup-form {
  margin: 16px 24px;
  overflow: hidden;
  position: relative;
  gap: 16px;

  label {
    display: inline-block;
    color: gray;
    font-size: 18px;
    margin-bottom: 8px;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"] {
    border: 0.1em solid darken(#eee, 6%);
    padding: 8px;
    margin-bottom: 16px;
    max-width: 88.5%;
  }

  .action-button {
    background-color: #0F4C75;
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
  }
}

.action-button {
  border: none;
  outline: none;
  background: transparent;
  background-color: #0F4C75;
  color: white;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
}




/*================================================== 
スポット追加のためのcss
===================================*/

#main_map {
  height: 400px;
  width: 100%;
}

#view_map {
  height: 400px;
  width: 100%;
}

.required {
  color: red;
  font-weight: bold;
}

/*================================================== 
スポット一覧と作品一覧の検索エリアのためのcss
===================================*/
.pageTitle h2 {
  text-align: left;
  font-size: 24px;
  color: black;
  margin: 16px 24px 16px;
  padding: 0;
}

.search_container {
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: calc(100%- 48px);
  overflow: hidden;
  margin: 16px 24px 16px;
}

.search_container input[type="text"] {
  border: none;
  height: 2.0em;
}

.search_container input[type="submit"] {
  cursor: pointer;
  font-family: 'Font Awesome 5 Free';
  font-weight: 800;
  border: none;
  background: #0F4C75;
  color: #fff;
  position: absolute;
  width: 3.5em;
  height: 3.0em;
  right: 0px;
  top: -3px;
  outline: none;
}

.sort-select {
  margin: 8px 24px 16px;
  width: calc(100%- 48px);
  display: flex;
  justify-content: right;
  align-items: right;
  gap: 16px;
}

.selectbox {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.selectbox::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}

.selectbox select {
  appearance: none;
  height: 2.8em;
  padding: 4px 34px 4px 10px;
  border: 1px solid #c6c3c3;
  border-radius: 3px;
  color: #333333;
  font-size: 14px;
  cursor: pointer;
}

/*================================================== 
作品一覧の結果一覧のためのcss
===================================*/
.result_container {
  display: flex;
  margin: 16px 24px;
  width: calc(100%- 48px);
  height: 120px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

a {
  text-decoration: none;
  color: black;
}

.work-img {
  width: 70px;
  height: 88px;
  overflow: hidden;
  margin: 16px;
}

.work-img img {
  max-width: 70px;
  height: 88px;
}

.work-info {
  max-width: 220px;
  text-align: left;
  margin: 16px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.work-info h2 {
  text-align: left;
  font-size: 18px;
  padding: 0;
}

.work-info p {
  text-align: left;
  font-size: 14px;
  padding: 0;
  margin: 2px;
  line-height: 20px;
}

#works-list {
  margin-bottom: 80px;
  /* ボトムナビの高さ分の余白を追加 */
}


/*==================================================
スポット一覧のためのcss
===================================*/

#spot-list,
#map {
  width: 100%;
  display: block;
}

#spot-list.hide,
#map.hide {
  display: none;
}

#map {
  width: 400px;
  height: 650px;
}

#spot-list {
  margin-bottom: 80px;
  /* ボトムナビの高さ分の余白を追加 */

}


/* 追加ボタンのスタイル */
.add-spot-button {
  position: fixed;
  bottom: 80px;
  /* ボトムナビの高さに応じて調整 */
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #0F4C75;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  text-decoration: none;
  z-index: 1000;
  /* ボトムナビより上に表示するためのz-index */
}

.spot-card {
  position: relative;
  width: calc(100%- 48px);
  overflow: hidden;
  border-radius: 8px;
  margin: 16px 24px;
  width: calc(100%- 48px);
  height: 120px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.spot-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spot-card .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  color: #fff;
}

.spot-card .info h2 {
  margin: 0;
  font-size: 20px;
}

.spot-card .info p {
  margin: 4px 0;
  font-size: 14px;
}

/* リスト・マップ切り替えボタン */
#view-switch {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.view-btn {
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #999;
  background-color: #FFF5E4;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-btn:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.view-btn:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.view-btn:hover {
  background-color: #ddd;
}

.view-btn.active {
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
}

/*==================================================
作品詳細のためのcss
===================================*/
/* サムネイルを横幅いっぱいに表示 */
.workThumbnail img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.workInfo h3 {
  text-align: left;
  font-size: 24px;
  color: black;
  margin: 16px 24px 16px;
  padding: 0;
  line-height: 28px;
}

.Tag {
  margin: 8px 24px;
}

.Tag p {
  font-size: 14px;
  display: inline-block;
  padding: .6em;
  margin: 0 8px 8px 0;
  line-height: 1;
  text-decoration: none;
  color: #0F4C75;
  background-color: #fff;
  border: 1px solid #0F4C75;
  border-radius: 2em;
}

.description p {
  margin: 16px 24px;
  line-height: 24px;

}

.relatedSpot h2 {
  text-align: left;
  font-size: 20px;
  color: black;
  margin: 16px 24px 16px;
  padding: 0;
}

.relatedSpotTitle h3 {
  margin: 0;
  font-size: 18px;
}

/*==================================================
スポット詳細のためのcss
===================================*/
.spotImages img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.relWorkBanner {
  display: flex;
  width: 100%;
  height: 104px;
  background-color: #FFF5E4;
  justify-content: space-between;
}

.relWorkThumbnail {
  padding: 16px 8px 16px 24px;

}

.relWorkThumbnail img {
  height: 72px;
}

.relWorkInfo {
  width: 60%;
  margin: auto;
  padding: auto;
  text-align: left;
}

.relWorkInfo h4 {
  margin: 0;
  font-size: 14px;
}

.relWorkTag {
  margin-top: 8px;
}

.relWorkTag p {
  font-size: 12px;
  display: inline-block;
  padding: .6em;
  line-height: 1;
  text-decoration: none;
  color: #0F4C75;
  background-color: #FFF5E4;
  border: 1px solid #0F4C75;
  border-radius: 2em;
}

.relWorkButton {
  width: 24px;
  margin: auto;
  padding-right: 24px;
}

.relWorkButton i {
  font-size: 18px;
  color: #272727;
}

#spotInfo {
  margin: 16px 24px;
}

#spotInfo h2 {
  margin: 0;
  font-size: 24px;
}

#spotInfo p {
  margin: 8px 0;
  font-size: 16px;
}

.spotButtons {
  display: flex;
  justify-content: space-around;
  margin: 16px 24px;
}

.iconButton {
  display: inline-block;
  padding: 8px;
}

.iconButton button {
  border: none;
  outline: none;
  background: transparent;
}

.iconButton i {
  font-size: 24px;
  color: #0F4C75;
}

#spot-map-view {
  height: 300px;
  width: 100%;
}

.relatedSpot {
  margin-bottom: 80px;
  /* ボトムナビの高さ分の余白を追加 */
}

/*==================================================
作品・スポット追加のためのcss
===================================*/
/* #spotForm {
  margin: 16px 24px;
  overflow: hidden;
  position: relative;
  gap: 16px;

  label {
    display: inline-block;
    color: gray;
    font-size: 18px;
    margin-bottom: 8px;
  }

  input {
    border: 0.1em solid darken(#eee, 6%);
    padding: 8px;
    margin-bottom: 16px;
    max-width: 88.5%;
  }
}
  */

#spotForm {
margin: 16px 24px 80px;
}

#spotForm div {
  margin-bottom: 16px;
}

#spotForm label {
  display: block;
  font-size: 16px;
  margin-bottom: 4px;
  font-weight: bold;
}

#spotForm input[type="text"],
#spotForm textarea,
#spotForm select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* #spotForm .required {
    color: red;
    margin-left: 5px;
  } */

#spotForm .mainLocation,
#spotForm .viewLocation {
  margin-bottom: 30px;
}

#spotForm #main_map,
#spotForm #view_map {
  height: 300px;
  margin-bottom: 10px;
}

#spotForm button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #E2DFD0;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

#spotForm .action-button {
  /* 常時ページ下に固定したかったらこれ有効にする */
  /* position: fixed;
  bottom: 56px;
  left: 24px;
  right: 24px; */
  text-align: center;
  padding: 0%;
  margin-top: 16px;
}

#spotForm .action-button button {
  background-color: #0F4C75;
  color: white;
  font-size: 16px;
  padding: 16px 24px;
  text-align: center;
}

#spotForm #image-preview {
  margin-top: 10px;
}

#spotForm #image-preview img {
  max-width: 200px;
  max-height: 200px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.searchOptionButtons {
  display: flex;
  justify-content: space-between;
}
