html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}

/*==================================================
ボトムナビ
===================================*/
.bottom-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f8f8;
  border-top: 1px solid #e0e0e0;
  padding: 10px 0;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #999;
  text-decoration: none;
}

.nav-item.active {
  color: #007aff;
}

.nav-item i {
  font-size: 20px;
  margin-bottom: 5px;
}

.nav-item span {
  font-size: 12px;
}


/*==================================================
ホ‐ム画面
===================================*/
/* ヘッダーのCSS */
header h2 {
  text-align: left;
  font-size: 67px;
  color: #007aff;
  margin: 16px 24px 8px 24px;
  padding: 0;
}

#user-info {
  height: 80px;

}

#button-login {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid #007aff;
  margin: 0 24px;
}

#button-login:hover {
  background-color: #0056b3;
}

#button-signup {
  background-color: #007aff;
  color: white;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
  margin: 0 px;
}

#button-signup:hover {
  background-color: #0056b3;
}

#user-info {
  align-items: left;
  padding: 0 24px;
}

#user-info p {
  padding: 0;
  margin: 0;
  text-align: left;
}

.features h3 {
  text-align: left;
  font-size: 30px;
  color: black;
  margin: 8px 24px 8px;
  padding: 0;
}


/* スライダー */
.slider {
  /*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 94%;
  margin: 24 auto;
}

.slider img {
  width: 100%;
  /*スライダー内の画像を横幅100%に*/
  height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
  margin: 0 24px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  position: absolute;
  /*絶対配置にする*/
  top: 42%;
  cursor: pointer;
  /*マウスカーソルを指マークに*/
  outline: none;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666;
  /*矢印の色*/
  border-right: 2px solid #666;
  /*矢印の色*/
  height: 15px;
  width: 15px;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #ccc;
  /*ドットボタンの色*/
}

.slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}

/*==================================================
ログインと新規登録画面のためのcss
===================================*/
/* h4 {
  text-align: left;
  font-size: 24px;
  margin: 24px;
  padding: 0;
} */

#login-form,
#signup-form {
  margin: 16px 24px;
  overflow: hidden;
  position: relative;
  gap: 16px;

  label {
    display: inline-block;
    color: gray;
    font-size: 18px;
    margin-bottom: 8px;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"] {
    border: 0.1em solid darken(#eee, 6%);
    padding: 8px;
    margin-bottom: 16px;
    max-width: 88.5%;
  }

  .action-button {
    background-color: #007aff;
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
  }
}

.action-button {
  background-color: #007aff;
  color: white;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
}




/*================================================== 
スポット追加のためのcss
===================================*/

#main_map {
  height: 400px;
  width: 100%;
}

#view_map {
  height: 400px;
  width: 100%;
}

.required {
  color: red;
  font-weight: bold;
}

/*================================================== 
スポット詳細のためのcss
===================================*/

img {
  width: 300px;
  height: auto;
}

/*================================================== 
スポット一覧と作品一覧の検索エリアのためのcss
===================================*/

.search_container {
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: calc(100%- 48px);
  overflow: hidden;
  margin: 16px 24px 16px;
}

.search_container input[type="text"] {
  border: none;
  height: 2.0em;
}

.search_container input[type="submit"] {
  cursor: pointer;
  font-family: 'Font Awesome 5 Free';
  font-weight: 800;
  border: none;
  background: #3879D9;
  color: #fff;
  position: absolute;
  width: 3.5em;
  height: 3.0em;
  right: 0px;
  top: -3px;
  outline: none;
}

.sort-select {
  margin: 8px 24px 16px;
  width: calc(100%- 48px);
  display: flex;
  justify-content: right;
  align-items: right;
  gap: 16px;
}

.selectbox {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.selectbox::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}

.selectbox select {
  appearance: none;
  height: 2.8em;
  padding: 4px 34px 4px 10px;
  border: 1px solid #c6c3c3;
  border-radius: 3px;
  color: #333333;
  font-size: 14px;
  cursor: pointer;
}

/*================================================== 
作品一覧の結果一覧のためのcss
===================================*/
.result_container {
  display: flex;
  margin: 16px 24px;
  width: calc(100%- 48px);
  height: 120px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

a {
  text-decoration: none;
  color: black;
}

.work-img {
  width: 70px;
  height: 88px;
  overflow: hidden;
  margin: 16px;
}

.work-img img {
  max-width: 70px;
  height: 88px;
}

.work-info {
  max-width: 220px;
  text-align: left;
  margin: 16px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.work-info h2 {
  text-align: left;
  font-size: 18px;
  padding: 0;
}

.work-info p {
  text-align: left;
  font-size: 14px;
  padding: 0;
  margin: 2px;
}


/*==================================================
スポット一覧のためのcss
===================================*/

#spot-list,
#map {
  width: 100%;
  display: block;
}

#spot-list.hide,
#map.hide {
  display: none;
}

#map {
  width: 400px;
  height: 650px;
}




/* 追加ボタンのスタイル */
.add-spot-button {
  position: fixed;
  bottom: 80px;
  /* ボトムナビの高さに応じて調整 */
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  text-decoration: none;
  z-index: 1000;
  /* ボトムナビより上に表示するためのz-index */
}

.spot-card {
  position: relative;
  width: calc(100%- 48px);
  overflow: hidden;
  border-radius: 8px;
  margin: 16px 24px;
  width: calc(100%- 48px);
  height: 120px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.spot-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spot-card .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  color: #fff;
}

.spot-card .info h2 {
  margin: 0;
  font-size: 20px;
}

.spot-card .info p {
  margin: 4px 0;
  font-size: 14px;
}

/*==================================================
作品詳細のためのcss
===================================*/
/* サムネイルを横幅いっぱいに表示 */
.workThumbnail img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.workInfo h3 {
    text-align: left;
    font-size: 24px;
    color: black;
    margin: 16px 24px 16px;
    padding: 0;
  }
  



.Tag {
 margin: 8px 24px;
}

.Tag p {
  font-size: 14px;
  display: inline-block;
	padding: .6em;
  margin: 0 8px 8px 0;
	line-height: 1;
	text-decoration: none;
	color: #0056b3;
	background-color: #fff;
	border: 1px solid #0056b3;
	border-radius: 2em;
}

.description p{
  margin: 16px 24px;
}

.relatedSpot h2 {
  text-align: left;
  font-size: 20px;
  color: black;
  margin: 16px 24px 16px;
  padding: 0;
}

.relatedSpotTitle h3 {
  margin: 0;
  font-size: 18px;
}
